<template>
  <div class="container">
    <Loader v-if="loading" />
    <app-error-page v-else-if="!list.length"/>
    <div v-else class="row">
      <div class="col">
        <div class="row">
          <div class="col-sm-6 box" v-for="(person, i) in list" :key='i'>
            <div class="item alert alert-info">
              <h4>{{person.name}} {{page}}</h4>
              <div class="row">
                <div class="col">
                  <div>
                    Gender: 
                    <strong class="">{{person.gender}}</strong>
                  </div>
                  <div>
                    Height: 
                    <strong class="">{{person.height}}</strong>
                  </div>
                  <div>
                    Mass: 
                    <strong class="">{{person.mass}}</strong>
                  </div>
                </div>
                <div class="col">
                  <strong>Starships:</strong>
                  <div>
                    <template v-if="person.starships.length > 0">
                      <span  v-for="starship in person.starships" 
                        :key='starship' 
                        class="badge badge-info">
                        {{starship}}
                      </span> 
                    </template>
                    <template v-else>
                      <span class="badge badge-danger">
                        I haven't starship (
                      </span>
                    </template>
                  </div>
                </div>
              </div>
              <hr>
              <div class="text-right">
                <router-link class="btn btn-info btn-sm" :to="{
                  name: 'person',
                  params: {
                    id: personId(i)
                  }
                }">See more info Person {{personId(i)}}</router-link>
              </div>
            </div>
          </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" :class="{disabled: page <= 1}">
              <router-link class="page-link" :to="{name: 'people', query: {page: prev}}">
                Previous
              </router-link>
            </li>
            <li class="page-item" v-for="i in pageCount" :key='i' :class="{active: i == page}">
              <!-- <a class="page-link" href="" @click.prevent="onChangePage(i)" >{{i}}</a> -->
              <router-link class="page-link" :to="{name: 'people', query: {page: i}}">
                {{i}}
              </router-link>
            </li>
            <li class="page-item" :class="{disabled: page >= pageCount}">
              <router-link class="page-link" :to="{name: 'people', query: {page: next}}">
                Next
              </router-link>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>

import {mapGetters} from 'vuex'
import Loader from '@/components/Loader'
import AppErrorPage from '@/components/E404'
export default {
  components: {
    Loader,
    AppErrorPage
  },
  data(){
    return {
      list: [],
      loading: true
    }
  },
  computed: {
    ...mapGetters({
      count:'people/count',
    }),
    pageCount(){
      return Math.ceil(this.count / 10)
    },
    
    page(){
      if(!this.$route.query.page){
        return 1 
      }
      return this.$route.query.page
    },
    next(){
      return +this.page + 1
    },
    prev(){
      return +this.page - 1 
    }
  },
  watch: {
    async page () {
      this.loading = true
      this.list = await this.$store.dispatch('people/load', this.page);
      this.loading = false
    }
  },
  methods: {
    personId (i) {
      let person = (this.page - 1) * 10 + i + 1
      if (person > 16) {
        return person + 1
      }
      return person 
    },
  },
  async mounted(){
    this.list = await this.$store.dispatch('people/load', this.page);
    this.loading = false
  }
}
</script>
<style scoped lang="sass">
.box 
  margin-bottom: 15px  
.item.alert
  height: 100%
  position: relative
  overflow: hidden
  padding: 0.75rem 1.25rem 0.1rem 1.25rem
.pagination
  margin: 1rem 0
.badge-info
  margin-right: 3px 
  
</style>

