<template>
  <div class="container">
    <Loader v-if="loading" />
    <app-error-page v-else-if="!person"/>
    <div v-else class="row">
      <div class="col-sm-12">
        <div class="row align-items-center">
          <div class="col">
            <h2>{{person.name}}</h2>
          </div>
          <div class="col text-right">
            <a @click.prevent="$router.go(-1)" href="#" class="btn btn-sm btn-success">Back to List</a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item list-group-item-info">
                Birth Year: 
                <strong>{{person.birth_year}}</strong>
              </li>
              <li class="list-group-item list-group-item-info">
                Gender: 
                <strong class="">{{person.gender}}</strong>
              </li>
              <li class="list-group-item list-group-item-info">
                Height: 
                <strong class="">{{person.height}}</strong>
              </li>
              <li class="list-group-item list-group-item-info">
                Mass: 
                <strong class="">{{person.mass}}</strong>
              </li>
              <li class="list-group-item list-group-item-info">
                Hair Color: 
                <strong>{{person.hair_color}}</strong>
              </li>
              <li class="list-group-item list-group-item-info">
                Skin Color: 
                <strong>{{person.skin_color}}</strong>
              </li>
              <li class="list-group-item list-group-item-info">
                Eye Color: 
                <strong>{{person.eye_color}}</strong>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <h4>Films</h4>
            <template v-if="person.films.length > 0">
              <span  v-for="films in person.films" 
                :key='films' 
                class="badge badge-info">
                {{films}}
              </span> 
            </template>
            <template v-else>
              <span class="badge badge-danger">
                I haven't film (
              </span>
            </template>
          </div>
          
        </div>
        
        
      </div>
    </div>
  </div>
</template>

<script>

import {mapGetters} from 'vuex'
import Loader from '@/components/Loader'
import AppErrorPage from '@/components/E404'
export default {
  components: {
    Loader,
    AppErrorPage
  },
  data(){
    return {
      person: null,
      loading: true
    }
  },
  computed: {
    id(){
      return this.$route.params.id
    }
  },
  async mounted(){
    this.person = await this.$store.dispatch('people/fetchPerson', this.id);
    this.loading = false
  }
}
</script>
<style scoped lang="sass">
.badge
  margin: 0 6px 6px 0 
  font-size: 14px  

</style>

