<template>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          API | <a target="_blank" href="https://swapi.dev/api">https://swapi.dev/api</a>
        </div>
      </div>
    </div>
  </footer>
</template>
<style lang='sass' scoped>
footer
  text-align: center
  padding: 5px 0
  background: #000
  color: #fff
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.5)
  a
    color: #fff
    font-size: 13px
</style>
