<template>
  <header>
    <div class="container">
      <div class="row">
          <div class="col text-center">
            <router-link :to="{name: 'home'}">
              <img src="../assets/sw_logo_stacked-336c62367939.png" alt="logo">
            </router-link>
          </div>
      </div>
    </div>
  </header>
</template>
<style lang='sass' scoped>
header
  background: #000 url('../assets/milkyway.jpg') center no-repeat
  background-size: cover
  position: fixed
  padding: 15px 0
  z-index: 30
  top: 0
  left: 0
  width: 100%
  box-shadow: 0 0 5px 0px rgba(0,0,0,0.5)
  img
    display: block
    margin: 0 auto
    height: 35px
</style>
