<template>
  <div class="loaded">
    <div v-if="loaded" class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div v-else class="face">
      <img src="../assets/unnamed.gif" alt=""> 
      <p class="text-danger">
        I am trying to get a response 
        <br>
        from the server
      </p>    
    </div>
  </div> 
</template>
<script>
export default{
  data(){
    return {
      loaded: true
    }
  }, 
  mounted(){
    setTimeout(() => {
      this.loaded = false
    }, 3000)
  }
}
</script>
<style lang="sass" scoped>
.face
  text-align: center  
  font-weight: bold 
  font-size: 20px
  img
    width: 90px 
  p
    margin-top: 15px
    margin-bottom: 0 
  a
    font-size: 14px  
.loaded   
  position: fixed
  width: 100%
  height: 50vh
  background: #fff
  overflow: hidden  
  top: 65px 
  left: 0 
  z-index: 999
  display: flex 
  align-items: center
  justify-content: center 
  .spinner-border
    width: 5rem
    height: 5rem
</style>