<template>
  <div id="app">
    <AppHeader></AppHeader>
    <div class="wrap">
      <router-view/>
    </div>
    
    <AppFooter></AppFooter>
  </div>
</template>
<script>
import AppHeader from '@/components/Header.vue'
import AppFooter from '@/components/Footer.vue'
export default {
  name: 'app',
  components: {
    AppHeader,
    AppFooter
  }
}
</script>
<style lang="sass">
#app
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
.wrap
  padding-top: 91px
  min-height: calc(100vh - 34px)
  position: relative
.loaded   
  position: fixed
  width: 100%
  height: 100% 
  background: #fff
  top: 0 
  left: 0 
  z-index: 999
  display: flex 
  align-items: center
  justify-content: center 
.spinner-border 
    width: 5rem
    height: 5rem

  
</style>